<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2 ng-bind="$state.title"></h2>

        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-sm-8">
                            <input class="input-md form-control"
                                   data-ng-model="vm.filter.terms"
                                   placeholder="zoeken...">
                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right">
                                <a class="btn btn-info btn-xs" data-ng-click="vm.refresh()">
                                    <i class="fa fa-refresh"></i> <span>Vernieuwen</span>
                                </a>
                                <a class="btn btn-info btn-xs" ui-sref="portal.blogs.detail({id:'new'})">
                                    <i class="fa fa-plus"></i> <span>Blog toevoegen</span>
                                </a>
                            </div>
                        </div>
                        <table class="table table-striped" nt-spinner spinner-show="vm.loading" colspan="3">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Titel</th>
                                <th>URL</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr data-ng-show="!vm.loading"data-ng-repeat="blog in vm.filteredBlogs | orderBy:'name' track by blog.id">
                                <td></td>
                                <td><a data-ng-bind="blog.name" data-ng-click="vm.gotoBlog(blog)"></a></td>
                                <td>
                                    <a data-ng-bind="blog.url" data-ng-click="vm.gotoBlog(blog)"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>