<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2 ng-bind="$state.title"></h2>

        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" data-nt-spinner data-spinner-show="vm.loading">
                        <form class="form-horizontal" ng-show="!vm.loading" name="detail">
                            <div class="">
                                <button class="btn btn-info btn-form-md" data-ng-click="vm.cancel()">
                                    <fa name="undo"></fa>
                                    Annuleren
                                </button>
                                <button class="btn btn-info btn-form-md" data-ng-click="vm.save()"
                                        data-ng-disabled="!detail.$dirty || !detail.$valid">
                                    <fa name="save"></fa>
                                    0pslaan
                                </button>
                                <button class="btn btn-danger btn-form-md pull-right" data-ng-if="vm.user.id" data-ng-click="vm.remove()">
                                    <fa name="trash"></fa>
                                    Verwijderen
                                </button>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Voornaam</label>

                                <div class="col-lg-10">
                                    <input type="text" placeholder="Voornaam" class="form-control" required
                                           data-ng-model="vm.user.first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Naam</label>

                                <div class="col-lg-10">
                                    <input type="text" placeholder="Naam" class="form-control" required
                                           data-ng-model="vm.user.last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Gebruikersnaam</label>

                                <div class="col-lg-10">
                                    <input type="email" placeholder="Gebruikersnaam" class="form-control" required
                                           ng-model="vm.user.username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Paswoord</label>

                                <div class="col-lg-10">
                                    <input type="password" placeholder="Paswoord" class="form-control"
                                           ng-if="vm.isResetPwd" ng-model="vm.user.password" required>

                                    <div ng-if="!vm.isResetPwd">
                                        <span class="help-block m-b-none">Ingesteld
                                            door de beheerder</span>
                                        <a ng-click="vm.resetPwd()">Opnieuw instellen</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Geslacht</label>

                                <div class="col-lg-10">
                                    <div class="radio"><label>
                                        <input type="radio" value="F" ng-model="vm.user.gender"/>
                                        <nt-fa name="female"></nt-fa>
                                        Vrouw </label>
                                    </div>
                                    <div class="radio"><label>
                                        <input type="radio" value="M" ng-model="vm.user.gender"/>
                                        <nt-fa name="male"></nt-fa>
                                        Man </label>
                                    </div>
                                </div>
                            </div>

                            <!--
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Rollen</label>

                                <div class="col-sm-10">
                                    <label class="checkbox">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1"> Personeelslid
                                    </label>

                                    <div class="well-xs" data-ng-show="vm.user.isEmployee">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Leerkracht
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Secretariaat
                                        </label>
                                    </div>

                                    <label class="checkbox">
                                        <input type="checkbox" value="option2" id="inlineCheckbox2"> Ouder
                                    </label>

                                    <div class="well-xs clearfix" data-ng-show="vm.user.isParent">
                                        <input type="text" placeholder="Zoek op naam van leerling" class="form-control">
                                    </div>


                                    <label class="checkbox">
                                        <input type="checkbox" value="option3" id="inlineCheckbox3"> Leerling
                                    </label>
                                </div>

                            </div>
                            -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

