<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2 ng-bind="$state.title"></h2>

        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" data-nt-spinner data-spinner-show="vm.loading">
                        <form class="form-horizontal" ng-show="!vm.loading" name="detail">
                            <div class="">
                                <button class="btn btn-info btn-form-md" data-ng-click="vm.cancel()">
                                    <fa name="undo"></fa>
                                    Annuleren
                                </button>
                                <button class="btn btn-info btn-form-md" data-ng-click="vm.save()"
                                        data-ng-disabled="(!detail.$dirty || !detail.$valid) && !vm.objectives_changed">
                                    <fa name="save"></fa>
                                    0pslaan
                                </button>
                                <button class="btn btn-danger btn-form-md pull-right" data-ng-if="vm.blog.id"
                                        data-ng-click="vm.remove()">
                                    <fa name="trash"></fa>
                                    Verwijderen
                                </button>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="col-md-12">
                                <label class="control-label">Titel</label>

                                <div class="">
                                    <input type="text" placeholder="Titel" class="form-control" required
                                           data-ng-model="vm.event.name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Start</label>

                                <div class="">
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time
                                               data-ng-model="vm.event.start" data-view="date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" data-ng-show="!vm.event.allDay">
                                <label class="control-label">Eind</label>

                                <div class="">
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time
                                               data-ng-model="vm.event.end" data-view="date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label class="control-label">Beschrijving</label>

                                <div class="">
                                    <input type="text" placeholder="Beschrijving" class="form-control"
                                           ng-model="vm.event.description">
                                </div>
                            </div>

                            <div class="col-md-12">

                                <label class="control-label m-r-md pull-left">Voor groepen:</label>

                                <div class="pull-left m-md">
                                    <select class="select-small" multiple size="5"
                                            data-ng-multiple="true" data-ng-model="vm.event.groups"
                                            data-ng-options="c.last_name for c in vm.classGroups track by c.id">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12" data-ng-if="vm.event.groups.length > 0">
                                <small>
                                    Geselecteerde groepen:
                                    <span data-ng-repeat="g in vm.event.groups">
                                        {{g.last_name}}<span data-ng-if="!$last">, </span>
                                    </span>
                                </small>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

