<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2 ng-bind="$state.title"></h2>

        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" data-nt-spinner data-spinner-show="vm.loading">
                        <form class="form-horizontal" ng-show="!vm.loading" name="detail">
                            <div class="">
                                <button class="btn btn-info btn-form-md" data-ng-click="vm.cancel()">
                                    <fa name="undo"></fa>
                                    Annuleren
                                </button>
                                <button class="btn btn-info btn-form-md" data-ng-click="vm.save()"
                                        data-ng-disabled="(!detail.$dirty || !detail.$valid) && !vm.objectives_changed">
                                    <fa name="save"></fa>
                                    0pslaan
                                </button>
                                <button class="btn btn-danger btn-form-md pull-right" data-ng-if="vm.blog.id"
                                        data-ng-click="vm.remove()">
                                    <fa name="trash"></fa>
                                    Verwijderen
                                </button>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titel</label>

                                <div class="col-lg-10">
                                    <input type="text" placeholder="Titel" class="form-control" required
                                           data-ng-model="vm.event.name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Start</label>

                                <div class="col-lg-10">
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time
                                               data-ng-model="vm.event.start" data-view="date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" data-ng-show="!vm.event.allDay">
                                <label class="col-lg-2 control-label">Eind</label>

                                <div class="col-lg-10">
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time
                                               data-ng-model="vm.event.end" data-view="date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Beschrijving</label>

                                <div class="col-lg-10">
                                    <input type="text" placeholder="Beschrijving" class="form-control"
                                           ng-model="vm.blog.description">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Voor groepen:</label>

                                <div class="col-lg-10">
                                    <label ng-repeat="group in vm.groups">
                                        <input type="checkbox" checklist-model="user.roles" checklist-value="role"> {{role}}
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

